/*introducao*/


.introducao-bg {

    background-color: var(--cor-12);
    box-shadow: inset 0 -120px var(--cor-00) ;

}

.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;

}

.introducao-content{
align-self: flex-end;
padding-bottom: 200px;
}

.introducao h1{

    margin-bottom: 32px;


}

.introducao h1 span{
    color: #ffbb00;
}

.introducao p{
    margin-bottom: 20px;
  
}


.introducao img {
    border-radius: 6px;
    width: 100%;
}


@media (max-width:1200px){


    .introducao h1{
        font-size: 40px;
    }

    .introducao p{

        font-size: 10px;
    }


}


@media (max-width: 800px) {


    /*introducao*/

    .introducao-bg{
        background-color: #111111;
        padding-top: 40px;
        box-shadow: inset 0 -60px #ffffff;
    }
    .introducao h1{
        font-size: 32px;
        margin-bottom: 16px;
    }

    .introducao{
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .introducao-content{
        padding-bottom: 0px;
    }

    .introducao p {
        font-size: 18px;
    }

    
}


